@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

body{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    margin: 0;
    font-family: 'Paperlogy-8ExtraBold';
}

/*요소 기본값*/
button{
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #27C0A2;
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 13px;

    margin: auto 5px;
    cursor: pointer;
}
button>b{
    color: #ffffffd0;
    font-size: 12px;
}
.btn100px{
    width: 100px;
}
.btn110px{
    width: 111px;
}
.btnfull{
    width: 100%;
    margin: 10px 0 0 0;
}

.btnstart{
    margin: auto 5px auto 0px;
}
.btnend{
    margin: auto 0px auto 5px;
}

.line{
    width: 100%;
    margin: 10px 0;
    border: 1px solid #27C0A2;
}

p{
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 15px;
    color: #000;
    margin: auto 5px;
}
.pstart{
    margin: auto 5px auto 0;
}
.pend{
    margin: auto 0 auto 5px;
}

input{
    height: 35px;
    background-color: #F0F0F0;
    font-family: 'Paperlogy-8ExtraBold';
    color: #000;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin: auto 5px;
}
.inputstart{
    margin: auto 5px auto 0;
}
.inputend{
    margin: auto 0 auto 5px;
}
input[type="number"]{
    width: 50px;
}

select{
    height: 35px;
    width: 75px;
    background-color: #F0F0F0;
    font-family: 'Paperlogy-8ExtraBold';
    color: #000;
    text-align: center;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    margin: auto 5px;
}


.margintop{
    margin-top: 10px;
}
.marginbtm{
    margin-bottom: 10px;
}

/*UI 기본값*/
.full{
    width: 100%;
    height: 800px;
    display: flex;
}    

/*left side*/
.side{
    width: 50%;
    height: 680px;
    margin: 30px 30px 0 30px;
}

/*dsk control*/
.coder_dsk{
    width: 100%;
    height: 40px;
    display: flex;
}
.coder_state{
    height: 35px;
    background-color: #1E1E1E;
    border-radius: 3px;
    display: flex;
    margin: auto 5px;
}
.coder_state>p{
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 15px;
    color: #fff;
    margin: auto;
}
.dsk_ctrl{
    height: 100%;
    margin: auto 0 auto auto;
    display: flex;
}

.teams{
    width: 100%;
    height: 40px;
    display: flex;
}
.teamname{
    width: 150px;
}
.away{
    width: 50px;
}
.player{
    width: 125px;
}

.alert{
    display: none;
}

.map{
    width: 100%;
    height: 230px;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
}
.map>img{
    width: 100%;
}
.base{
    width: 30px;
    height: 30px;
    background-color: #dbdbdb;
    position: absolute;
    z-index: 1;
    rotate: 45deg;
}
.base1{
    margin: 161px 63px;
}
.base2{
    margin: 33px 271.5px;
}
.base3{
    margin: 161px 480px;
}

.logarea{
    width: 100%;
    height: 130px;
    background-color: #F0F0F0;
    border-radius: 3px;
    overflow-y: scroll;
}
.logarea>p{
    width: 540px;
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 13px;
    color: #27C0A2;
    margin: 10px;
    word-wrap: break-word;
}
.logarea::-webkit-scrollbar{
    width: 5px;
}
/*right side*/
.side2{
    width: calc(50% - 30px);
    height: 700px;
    margin: 30px 30px 30px 0;
}

/*tap*/
.popup{
    width: 1140px;
    height: 700px;
    background-color: #F0F0F0;
    border-radius: 3px;
    position: fixed;
    z-index: 3;
    margin: 30px 30px;
    display: none;
}
.popup>img{
    height: 60px;
    margin: 30px 0 0 30px;
}
.popup>p{
    width: 1070px;
    font-family: 'Paperlogy-6SemiBold';
    padding: 10px 30px;
    word-wrap: break-word;
}
.popup>p>b{
    font-family: 'Paperlogy-8ExtraBold';
    font-size: 20px;
}

.sheetinput{
    width: 50%;
    margin-top: 10px;
    text-align: start;
    border-bottom: solid 3px #27C0A2;
    border-radius: 0px;
}
.sheetinput:focus{
    outline: none;
    border-bottom: solid 3px #FFBA00;
}
.loadAllSheets{
    margin-left: 0px;
}
.confirm{
    margin-left: 35px;
    display: flex;
}

.tap{
    width: 60px;
    height: 100%;
    background-color: #F0F0F0;
}
.tapbtn{
    width: 40px;
    height: 40px;
    background-color: #dbdbdb;
    border-radius: 3px;
    margin: 10px 10px 0 10px;
}
.tapbtn>svg, .tapbtn>img{
    width: 100%;
}