@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Paperlogy-6SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
  }
  html::-webkit-scrollbar{
    display: none;
  }
  body{
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    background-image: none;
  }
  .guide{
    width: 1920px;
    height: 1080px;
    display: flex;
    position: fixed;
    z-index: 1;
    display: none;
  }